<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lianyu.ai.security.StaticApkShell"
        android:allowBackup="false"
        android:supportsRtl="true"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.app.AppComponentFactory">

        <activity
            android:name="com.lianyu.ai.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name="com.huawei.hms.support.api.push.PushProvider" tools:node="remove"/>
        <provider android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider" tools:node="remove"/>
        <provider android:name="com.huawei.hms.mlsdk.common.provider.MLInitializerProvider" tools:node="remove"/>
        <provider android:name="com.huawei.hms.core.aidl.provider.HMSCoreProvider" tools:node="remove"/>
        <provider android:name="com.huawei.hms.analytics.provider.HAProvider" tools:node="remove"/>

        <activity-alias android:name="com.lianyu.ai.SplashActivity" tools:node="remove"/>

        <receiver android:name="com.lianyu.ai.feature.notification.BootReceiver"
            android:enabled="true" android:exported="true"
            tools:node="remove"/>
        <receiver android:name="com.lianyu.ai.security.SReceiver"
            tools:node="remove"/>
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver"
            tools:node="remove"/>
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver"
            tools:node="remove"/>

    </application>
</manifest>