<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.lianyu.ai.security.StaticApkShell"
        tools:replace="android:name">

        <activity android:exported="true" android:hardwareAccelerated="true"
            android:name="com.lianyu.ai.security.SActivity"
            android:theme="@style/Theme.LianYu"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:exported"/>

        <activity android:exported="true" android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:name="com.lianyu.ai.MainActivity"
            android:theme="@style/Theme.LianYu"
            android:windowSoftInputMode="adjustResize"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider android:name="com.huawei.hms.aaid.InitProvider" tools:node="remove"/>
        <provider android:name="com.huawei.hms.support.api.push.PushProvider" tools:node="remove"/>
        <provider android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider" tools:node="remove"/>
        <provider android:name="androidx.startup.InitializationProvider" tools:node="remove"/>
        <provider android:name="androidx.core.content.FileProvider" tools:node="remove"/>

    </application>
</manifest>
